---
import Experienceitem from "./Experienceitem.astro"

const EXPERIENCE =[
 {
    date:'Oct 2021 - Present',
    title: 'Business Analyst',
    description: `•	Analyzed KPI data using Advanced Excel and SQL across 30+ projects in manufacturing, marketing, and supply chain, optimizing performance and productivity.
<br>•	Created Tableau dashboards that boosted stakeholder engagement by 25%.
<br>•	Developed a fraud detection model with 93% accuracy using R and Python.
<br>•	Conducted a real estate market analysis, scraping 2,000+ properties to support construction planning.
<br>•	Delivered management dashboards based on datasets of 10,000+ records.
`,
 },
 {
    date:'Oct 2020 - Sep 2021',
    title:'Maintenance Supervisor',
    description:`•	Managed Capex projects, generating $1M savings by acquiring reactors and reducing production time by 20%.
<br>•	Led Opex projects, reducing lead time by 23% and backlog by 63%, saving $430K.
<br>•	Reduced delay times by 60% using Microsoft Project, SAP, and Gantt Charts, managing teams of 25 people.
<br>•	Conducted quality testing on 40+ assets and oversaw 30+ reactors and 300+ tanks in the cosmetic and food sectors.
<br>•	Coordinated with 19 suppliers to ensure compliance with KPIs and SOPs.
`, },
 {
    date:'Jan 2018 - Jul 2020',
    title:'Research Analyst',
    description:`•	Researched composite materials, manufacturing processes, and non-destructive testing, leading teams of 11 people.
<br>•	Used CNC, lathe, and milling machines to produce precision parts for metal and polymer projects.
<br>•	Designed 11+ products using 3D printing and laser cutting technologies.
<br>•	Authored scientific reports following ISO and IEEE standards, contributing to 10+ research projects.
`
 }
]

---
<ol class="relative border-s border-[var(--gris-4)] ml-2">                  
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <Experienceitem {...experience} />
            </li>
        ))
    }
    
</ol>

